body {
  background-image: url(Gambar/pu.png);
  background-repeat: repeat-x;
  font-family: georgia;
}

h1 {
  font-family: Comic sans ms;
  font-size: 60px;
  color: darkblue;
  text-align: center;
}

h4 {
  text-align: center;
  font-style: italic;
}

.instagram {
  color: red;
  font-variant: small-caps;
}

.p1 {
  text-align: center;
  color: #ff7f24;
}

.p2 {
  text-align: right;
}
.facebook:hover {
  text-align: center;
  background-color: blue;
  color: white;
}

.instagram:hover {
  color: grey;
}

.facebook {
  text-decoration: none;
  font-weight: bolder;
}

.h3 {
  text-align: center;
}
